@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;800&display=swap");

body {
    position: relative;
    perspective: 1000px;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background: #d7a7;
}

@keyframes flip {
    0%,
    30% {
        transform: translate(-50%, -50%) rotate3d(1, 0, 1, -10deg)
            rotate3d(0, 1, 0, 0);
    }
    100% {
        transform: translate(-50%, -50%) rotate3d(1, 0, 1, -10deg)
            rotate3d(0, 1, 0, -360deg);
    }
}

@media (prefers-reduced-motion) {
    .collect {
        animation: none !important;
    }
}

.collect {
    animation: flip 8s infinite;
    font-size: 3vmin;
    line-height: 1em;
    width: 15em;
    height: 22em;
    border-radius: 0.75em;
    box-sizing: border-box;
    border: 0.75em solid #fff;
    box-shadow: inset 0 0 0 0.1em;
    transform-origin: 0 100%;

    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    text-align: center;
    padding-top: 17.4em;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    background: 
    /* logo */ radial-gradient(
                farthest-side at 100% 0,
                #0000 99%,
                #fff 0
            )
            78.5% 13% / 5% 3%,
        radial-gradient(70% 60% at 20% 50%, #fff 99%, #0000 0) 88.5% 12.125% /
            4% 3%,
        conic-gradient(at 55% 60%, #0000 90deg, red 0) 85% 5% / 12.25% 11%,
        radial-gradient(
            farthest-side circle at 86.2% 13.25%,
            #f00 2.5%,
            #0000 0
        ),
        radial-gradient(circle at 81% 12.5%, #fff 10%, #000 0 10.5%, #0000 0),
        /* name plate */ linear-gradient(#fe8 0 0) 50% 92% / 71% 12%,
        linear-gradient(#000 0 0) 50% 92.6% / 73% 13.5%,
        /* hat */
            radial-gradient(70% 100% at 50% 100%, #0000 89%, #369 0 99%, #0000)
            50% 35% / 55% 17%,
        linear-gradient(20deg, #0000 45%, #369 0 55%, #0000 0) 50% 18.5% / 5% 4%,
        linear-gradient(-30deg, #0000 45%, #369 0 55%, #0000 0) 50% 20% / 5% 4%,
        linear-gradient(30deg, #0000 45%, #369 0 55%, #0000 0) 50% 22% / 5% 4%,
        linear-gradient(-20deg, #0000 45%, #369 0 55%, #0000 0) 50% 23.5% / 5%
            4%,
        radial-gradient(farthest-side at 50% 100%, #0002 99%, #0000 0) 50%
            16.25% / 35% 17.5%,
        radial-gradient(70% 100% at 50% 100%, #0000 89%, #fff 0 99%, #fff) 50%
            32% / 50% 14%,
        radial-gradient(farthest-side at 50% 100%, #fff 99%, #0000) 50% 16% /
            50% 15%,
        radial-gradient(circle at 50% 15%, #369 3%, #0000 0),
        /* face features */
            radial-gradient(30% 35% at 40% 44%, #000 8%, #0000 0),
        radial-gradient(30% 35% at 60% 44%, #000 8%, #0000 0),
        radial-gradient(90% 80% at 40% 20%, #0000 80%, #000 0 99%, #0000) 51%
            57% / 14% 5%,
        radial-gradient(farthest-side at 0 50%, #eb9 99%, #0000) 52% 50% / 4% 4%,
        radial-gradient(86% 100% at 60% 100%, #0000 70%, #963 0 99%, #0000) 37%
            38% / 13% 4%,
        radial-gradient(86% 100% at 40% 100%, #0000 70%, #963 0 99%, #0000) 63%
            38% / 13% 4%,
        /* face */ radial-gradient(farthest-side, #fca 99%, #0000) 50% 59% / 37%
            15%,
        conic-gradient(at 50% 330%, #fca 10deg, #0000 0 350deg, #fca 0) 50% 40% /
            46% 30%,
        radial-gradient(farthest-side at 50% 0, #963 99%, #0000 0) 50% 42% / 52%
            17%,
        /* ears */ radial-gradient(70% 80% at 30% 47%, #eb9 10%, #0000 0),
        radial-gradient(70% 80% at 70% 47%, #eb9 10%, #0000 0),
        /* neck */ linear-gradient(#c004, #c000 80%) 50% 60% / 20% 35%,
        linear-gradient(#eb9 0 0) 50% 60% / 20% 35%,
        radial-gradient(farthest-side at 50% 0, #eb9 99%, #0000) 50% 76% / 30%
            5%,
        /* body */ radial-gradient(50% 55% at 50% 50%, #fff 99%, #0000) 50%
            80.2% / 75% 10%,
        linear-gradient(#fff 0 0) 50% 100% / 75% 23%,
        radial-gradient(farthest-side at 100% 100%, #369 99%, #0000) -3% 100% / 22%
            25%,
        radial-gradient(farthest-side at 0% 100%, #369 99%, #0000) 100% 100% /
            20% 25%,
        /* base */ linear-gradient(#fff8, #fff0),
        linear-gradient(#bef 65%, #4b5 68%), #f003;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    font-weight: 600;
    /*   transform: translate(-50%, -50%) rotate3d(1,0,1,-20deg) rotateY(-180deg); */
}

.collect::after {
    backface-visibility: hidden;
    border-radius: 0.75em;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    transform: rotateY(180deg);
    box-shadow: inset 0 0 0 0.5em #369;
    background:
    /* bat and ball */ conic-gradient(
                at -15% 115%,
                #0000 29.5deg,
                #fff 0 37deg,
                #0000 0
            )
            50% 50% / 17% 17%,
        radial-gradient(circle at 57.25% 42.35%, #fff 2.1%, #0000 0),
        radial-gradient(circle at 57% 56%, #fff 3%, #0000 0),
        linear-gradient(35deg, #0000 45%, #fff 0 60%, #0000 0) 41.75% 58.5% / 3%
            3%,
        /* cricle */
            radial-gradient(60% 50%, #369 32%, #fff 0 33%, #369 0 34%, #0000 0),
        /* base */ repeating-linear-gradient(45deg, #0000 0 1.5%, #369 0 2%),
        repeating-linear-gradient(-45deg, #0000 0 1.5%, #369 0 2%), #fff;
    background-repeat: no-repeat;
}

.collect::before {
    content: "RED \a SOCSS";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.5em;
    text-align: center;
    box-sizing: border-box;
    padding: 6.5em 2.25em 0em 19em;
    font-weight: 800;
    background: #0000;
}
